hardware/src/credentials.h
software/credentials.py
software/__pycache__
software/.vscode
.vscode
hardware/.vscode
software_docker/.vscode
software_docker/conf.py
software_docker/__pycache__
software_docker/tmp